---
title: Consulting
layout: 'base.njk'
---
  <div class="page-wrap"><img src="/assets/images/Noise--Texture-1-1.png" loading="lazy" sizes="100vw" srcset="/assets/images/Noise--Texture-1-1-p-500.png 500w, images/Noise--Texture-1-1.png 998w" alt="" class="texture">
    <section id="section-hero" class="section hero consulting">
      <div class="w-layout-blockcontainer container consulting-hero w-container">
        <div class="hero-text-wrap consulting">
          <h1 data-w-id="1d48d29e-8c88-88eb-8408-585168e7fcbd" style="opacity:0" class="h1 consulting">my expertise. <br>your problems.</h1>
          <h2 data-w-id="95394cc4-3742-d2d6-9f6f-a0815a875cb8" style="opacity:0" class="h3 consutling">Some short phrase talking more about what my services can do for your business.</h2>
          <a href="#section-contact" data-w-id="db57b890-b257-121c-def6-8c12fe90ae05" style="opacity:0" class="button primary w-button">get in touch!</a>
        </div>
        <div class="consulting-hero-services-wrap">
          <h2 class="h2 consulting">services</h2>
          <div class="w-layout-layout quick-stack wf-layout-layout">
            <div class="w-layout-cell consult-hero-service-cell">
              <div><img src="/assets/images/icon-lifecycle.svg" loading="lazy" alt="Icon for Software Development Lifecycle" class="consulting-hero-service-icon"></div>
              <div class="services-text-wrap">
                <h4 class="h4 consulting">Heading</h4>
                <div>This is some text inside of a div block.</div>
              </div>
            </div>
            <div class="w-layout-cell consult-hero-service-cell">
              <div><img src="/assets/images/icon-lifecycle.svg" loading="lazy" alt="Icon for Software Development Lifecycle" class="consulting-hero-service-icon"></div>
              <div class="services-text-wrap">
                <h4 class="h4 consulting">Heading</h4>
                <div>This is some text inside of a div block.</div>
              </div>
            </div>
            <div class="w-layout-cell consult-hero-service-cell">
              <div><img src="/assets/images/icon-lifecycle.svg" loading="lazy" alt="Icon for Software Development Lifecycle" class="consulting-hero-service-icon"></div>
              <div class="services-text-wrap">
                <h4 class="h4 consulting">Heading</h4>
                <div>This is some text inside of a div block.</div>
              </div>
            </div>
            <div class="w-layout-cell consult-hero-service-cell">
              <div><img src="/assets/images/icon-lifecycle.svg" loading="lazy" alt="Icon for Software Development Lifecycle" class="consulting-hero-service-icon"></div>
              <div class="services-text-wrap">
                <h4 class="h4 consulting">Heading</h4>
                <div>This is some text inside of a div block.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section-contact" class="section">
      <div class="w-layout-blockcontainer container w-container">
        <h2 class="h2 bright">Ready for consulting?</h2>
        <div class="contacts-wrap">
          <section class="rl_section_contact1 full-time">
            <div class="rl-padding-global">
              <div class="rl-container-small">
                <div class="rl-padding-section-large">
                  <div class="rl_contact1_component">
                    <div class="rl_contact1_heading-wrapper">
                      <h3 class="h3">i&#x27;d love to help!<br></h3>
                      <div class="rl_contact1_spacing-block-2"></div>
                      <p class="paragraph centered shorter">Some text about consulting and how it will benefit your business.<br></p>
                    </div>
                    <div class="rl_contact1_spacing-block-3"></div>
                    <div class="rl_contact1_form-block w-form">
                      <form id="wf-form-Contact-1-Form" name="wf-form-Contact-1-Form" data-name="Contact 1 Form" method="get" class="rl_contact1_form" data-wf-page-id="6510b5e79cc164c29732a850" data-wf-element-id="3d629038-03d4-ce02-b146-d9e45c83f1a1">
                        <div class="rl_contact1_form-field-wrapper"><label for="Contact-1-Name" class="rl-field-label">Name</label><input type="text" class="rl-form-input w-input" maxlength="256" name="Contact-1-Name" data-name="Contact 1 Name" placeholder="" id="Contact-1-Name" required=""></div>
                        <div class="rl_contact1_form-field-wrapper"><label for="Contact-1-Email" class="rl-field-label">Email</label><input type="email" class="rl-form-input w-input" maxlength="256" name="Contact-1-Email" data-name="Contact 1 Email" placeholder="" id="Contact-1-Email" required=""></div>
                        <div class="rl_contact1_form-field-wrapper"><label for="Contact-1-Message" class="rl-field-label">Message</label><textarea placeholder="Type your message..." maxlength="5000" id="Contact-1-Message" name="Contact-1-Message" data-name="Contact 1 Message" required="" class="rl-form-text-area w-input"></textarea></div><label id="Contact-1-Checkbox" class="w-checkbox rl-form-checkbox">
                          <div class="w-checkbox-input w-checkbox-input--inputType-custom rl-form-checkbox-icon"></div><input type="checkbox" id="Contact-1-Checkbox-2" name="Contact-1-Checkbox-2" data-name="Contact 1 Checkbox 2" required="" style="opacity:0;position:absolute;z-index:-1"><span for="Contact-1-Checkbox-2" class="rl-checkbox-label-small w-form-label">I accept the <a href="#" class="rl-text-style-link">Terms</a></span>
                        </label><input type="submit" value="Submit" data-wait="Please wait..." id="w-node-_3d629038-03d4-ce02-b146-d9e45c83f1b4-9732a850" class="button w-button">
                      </form>
                      <div class="rl-success-message w-form-done">
                        <div class="rl-success-text">Thank you! Your submission has been received!</div>
                      </div>
                      <div class="rl-error-message w-form-fail">
                        <div class="rl-error-text">Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>