---
title: Consulting
layout: 'base.njk'
---
<section id="section-projects" class="section">
    <div class="w-layout-blockcontainer container w-container">
        <h2 class="h2">Thank you for contacting me!</h2>
        <p class="paragraph">I will get back to you as soon as possible.</p>
    </div>
</section>