---
title: Resume
layout: 'base.njk'
---
<body class="body">
  <div data-w-id="f030d9f5-d27d-97cc-e639-3c6101bb1e6c" style="opacity:0" class="navbar-logo-left">
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-logo-left-container shadow-three w-nav">
      <div class="container-2">
        <div class="navbar-wrapper">
          <div class="navbar-l-r-wrap">
            <a href="/" class="navbar-brand w-nav-brand">
              <p class="logo-name">Ryan_Saul</p>
            </a>
          </div>
          <h3 class="navbar-title dim">resumÉ</h3>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu-two w-list-unstyled">
              <li class="mobile-margin-top-10">
                <div class="navbar-l-r-wrap right">
                  <a href="#section-contact" data-w-id="f030d9f5-d27d-97cc-e639-3c6101bb1e90" style="opacity:0" class="button nav solo w-button">contact</a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="div-block-2">
            <div class="menu-button w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-wrap"><img src="/assets/images/Noise--Texture-1-1.png" loading="lazy" sizes="100vw" srcset="/assets/images/Noise--Texture-1-1-p-500.png 500w, images/Noise--Texture-1-1.png 998w" alt="" class="texture">
    <section id="section-hero" class="section">
      <div class="w-layout-blockcontainer container w-container">
        <div class="resume-title-wrap">
          <h1 class="h1 thin">Ryan Saul</h1>
          <h2 class="h2 diff">software engineering manager</h2>
        </div>
        <div class="profile-wrap">
          <div class="div-block">
            <div data-w-id="818c3848-c26b-31a1-da15-19b41d95bc31" style="opacity:0" class="location-wrap"><img src="/assets/images/Vector-6.svg" loading="lazy" alt="Location pin icon" class="resume-link-icon">
              <p class="locatoin-text">Portland, OR</p>
            </div>
            <div data-w-id="c8f89b20-1810-17b2-dfba-484e2c282f0a" style="opacity:0" class="location-wrap"><img src="/assets/images/person.svg" loading="lazy" alt="" class="resume-link-icon">
              <p class="locatoin-text">he/him</p>
            </div>
            <a href="https://github.com/giantryansaul" target="_blank" class="resume-link-block w-inline-block">
              <div data-w-id="5134cd82-f9f4-e020-9a6d-a57c4201d166" style="opacity:0" class="location-wrap"><img src="/assets/images/🦆-icon-_github_.svg" loading="lazy" alt="Github Logo" class="resume-link-icon">
                <p class="locatoin-text">Github</p>
              </div>
            </a>
            <a href="https://www.linkedin.com/in/rsaul/?challengeId=AQFm1xdEuWUZpwAAAYrzb_LymW9l5f3LvwxYfDWU_Izy1Srfib856VN7eW2W5Oag29cbvlmy20AyubOO_jJjRO2jcXi1WoLeQg&amp;submissionId=878809e1-0e79-8a17-4fc1-b310e92a460c&amp;challengeSource=AgGIQjfAAgFk-AAAAYrzcD5IrnNWUS5Q1PXCrixx3p6wFSTFlz2e94DyFT8_ZSQ&amp;challegeType=AgFWSs-nVpyjugAAAYrzcD5KraCPU84Ipz7S4Q8n0oe5ERxvSdQlP3A&amp;memberId=AgFPr_MqBBHsCAAAAYrzcD5NhQku035AreeKjaKCguQUg04&amp;recognizeDevice=AgHcWn9IuzjMFAAAAYrzcD5QLV89zS3whO8CDyDDOw6Ou5meCqMP" target="_blank" class="resume-link-block w-inline-block">
              <div data-w-id="cb4b1302-3905-0e62-e958-1643432cbdf5" style="opacity:0" class="location-wrap"><img src="/assets/images/🦆-icon-_linkedin_.svg" loading="lazy" alt="LinkedIn Logo" class="resume-link-icon">
                <p class="locatoin-text">LinkedIn</p>
              </div>
            </a>
          </div>
        </div>
        <div class="resume-profile-wrap">
          <h3 class="h3 but-smaller">Profile</h3>
          <div class="divider"></div>
          <p class="paragraph centered">Engineering Manager with 12 years of experience in software development and 6 years of experience in people management. Iconsider myself a generalist and I&#x27;m always looking for challenging opportunities to improve! I have worked in many parts ofsoftware development, including frontend, backend, QA and DevOps. I focus on enabling my team and unblocking themquickly. I also love promoting a collaborative and affirming workplace<br></p>
        </div>
        <div class="resume-column-wrap">
          <div class="resume-column-left">
            <h3 class="h3 but-smaller">Professional Experience</h3>
            <div class="divider"></div>
            <div class="resume-experience-cell">
              <p class="paragraph"><strong>Software Engineering Manager</strong>, <em>Streem (A Frontdoor Company)</em><em></em><br></p>
              <p class="paragraph">11/2019 – present | Portland, OR<br></p>
              <ul role="list" class="work-experience">
                <li>
                  <p class="paragraph">Managing 6 engineers on our Web Platform team, releasing weekly.<br></p>
                </li>
                <li>
                  <p class="paragraph">Mentoring direct reports and coaching teams to communicate and collaborate through pairing, reviewing, and sharing work to the rest of the organization<br></p>
                </li>
                <li>
                  <p class="paragraph">Creating new standards in our process with testing, operational excellence, continuous delivery, and observability. (Reduced on-call incidents from about 5per week to less than 1 per week)<br></p>
                </li>
                <li>
                  <p class="paragraph">Contributing to our deployment pipeline (CI/CD), system infrastructure, security, and test automation. (Identified measures to save over $3000 in infrastructure spending each month)<br></p>
                </li>
              </ul>
            </div>
            <div class="resume-experience-cell">
              <p class="paragraph"><strong>QA Manager</strong>, <em>Mirador (A CUNA Mutual Company)</em><br></p>
              <p class="paragraph">02/2019 – 11/2019 | Portland, OR<br></p>
              <ul role="list" class="work-experience">
                <li>
                  <p class="paragraph">Built the entire Terraform deployment process along with a Selenium testing framework.<br></p>
                </li>
                <li>
                  <p class="paragraph">Managed our production and testing environments. (Identified numerous unused services in AWS and saved the company more than $6,000 per month in AWS spend)<br></p>
                </li>
              </ul>
            </div>
            <div class="resume-experience-cell">
              <p class="paragraph"><strong>QA Manager</strong>, <em>4-Tell</em><br></p>
              <p class="paragraph">10/2017 – 02/2019 | Portland, OR<br></p>
              <ul role="list" class="work-experience">
                <li>
                  <p class="paragraph">Established testing, observability and deployment processes from the ground up using AppVeyor for CI, monitoring in Azure, and automated Selenium tests.<br></p>
                </li>
              </ul>
            </div>
            <div class="resume-experience-cell">
              <p class="paragraph"><strong>QA Engineer</strong>, <em>Jama Software</em><br></p>
              <p class="paragraph">02/2011 – 10/2017 | Portland, OR<br></p>
              <ul role="list" class="work-experience">
                <li>
                  <p class="paragraph">Progressed from Support to QA and eventually to a DevOps role.<br></p>
                </li>
                <li>
                  <p class="paragraph">Worked closely with the DevOps team on production deployments and the CI/CD pipeline.<br></p>
                </li>
                <li>
                  <p class="paragraph">Delivered a new REST API across all of the features of our product with automated Python tests.<br></p>
                </li>
                <li>
                  <p class="paragraph">Created automated frontend tests through Selenium.<br></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="resume-column-right">
            <h3 class="h3 but-smaller">Skills</h3>
            <div class="divider"></div>
            <p class="paragraph smaller"><strong>Software Engineering Management<br>‍</strong><em>Planning and Estimation, Hiring, Mentorship, Coaching, Career Development</em><br></p>
            <p class="paragraph smaller"><strong>Software Development LIfecycle<br>‍</strong><em>Agile, JIRA, CI/CD, Datadog, GitHub</em><br></p>
            <p class="paragraph smaller"><strong>Frontend Development<br></strong><em>React, Typescript</em><br></p>
            <p class="paragraph smaller"><strong>Backend Development<br>‍</strong><em>Django, FastAPI, Postgres</em><br></p>
            <p class="paragraph smaller"><strong>DevOps<br>‍</strong><em>Python, Bash, Terraform, Docker, Jenkins, GitHub Actions, AW</em><br></p>
            <p class="paragraph smaller"><strong>Security<br>‍</strong><em>SOC 2 Compliance, OAuth 2.0, SNYK, Dependabot</em><br></p>
            <p class="paragraph smaller"><strong>Test Automation<br>‍</strong><em>Selenium, Cypress, Appium, LambdaTest, SauceLabs, BrowserStack, Webdriver.io</em><br></p>
            <div class="resume-education-wrap">
              <h3 class="h3 but-smaller">Education</h3>
              <div class="divider"></div>
              <p class="paragraph smaller"><strong>BA in Management Information Systems, </strong><em>Washington State University<br></em>2010 | Pullman, WA<br></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section-contact" class="section">
      <div class="w-layout-blockcontainer container w-container">
        <h2 class="h2 bright">Ready to hire me?</h2>
        <div class="contacts-wrap">
          <section class="rl_section_contact1 full-time">
            <div class="rl-padding-global">
              <div class="rl-container-small">
                <div class="rl-padding-section-large">
                  <div class="rl_contact1_component">
                    <div class="rl_contact1_heading-wrapper">
                      <h3 class="h3">available full-time<br></h3>
                      <div class="rl_contact1_spacing-block-2"></div>
                      <p class="paragraph centered shorter">I&#x27;m currently open to a new full-time position with an outstanding company. Please get in touch!<br></p>
                    </div>
                    <div class="rl_contact1_spacing-block-3"></div>
                    <div class="rl_contact1_form-block w-form">
                      <form id="wf-form-Contact-1-Form" name="wf-form-Contact-1-Form" data-name="Contact 1 Form" method="get" class="rl_contact1_form" data-wf-page-id="6510b6539473faa75e93f328" data-wf-element-id="5bc2aa81-d654-9807-f047-5b6c7ecc9e07">
                        <div class="rl_contact1_form-field-wrapper"><label for="Contact-1-Name" class="rl-field-label">Name</label><input type="text" class="rl-form-input w-input" maxlength="256" name="Contact-1-Name" data-name="Contact 1 Name" placeholder="" id="Contact-1-Name" required=""></div>
                        <div class="rl_contact1_form-field-wrapper"><label for="Contact-1-Email" class="rl-field-label">Email</label><input type="email" class="rl-form-input w-input" maxlength="256" name="Contact-1-Email" data-name="Contact 1 Email" placeholder="" id="Contact-1-Email" required=""></div>
                        <div class="rl_contact1_form-field-wrapper"><label for="Contact-1-Message" class="rl-field-label">Message</label><textarea placeholder="Type your message..." maxlength="5000" id="Contact-1-Message" name="Contact-1-Message" data-name="Contact 1 Message" required="" class="rl-form-text-area w-input"></textarea></div><label id="Contact-1-Checkbox" class="w-checkbox rl-form-checkbox">
                          <div class="w-checkbox-input w-checkbox-input--inputType-custom rl-form-checkbox-icon"></div><input type="checkbox" id="Contact-1-Checkbox-2" name="Contact-1-Checkbox-2" data-name="Contact 1 Checkbox 2" required="" style="opacity:0;position:absolute;z-index:-1"><span for="Contact-1-Checkbox-2" class="rl-checkbox-label-small w-form-label">I accept the <a href="#" class="rl-text-style-link">Terms</a></span>
                        </label><input type="submit" value="Submit" data-wait="Please wait..." id="w-node-_5bc2aa81-d654-9807-f047-5b6c7ecc9e1a-5e93f328" class="button w-button">
                      </form>
                      <div class="rl-success-message w-form-done">
                        <div class="rl-success-text">Thank you! Your submission has been received!</div>
                      </div>
                      <div class="rl-error-message w-form-fail">
                        <div class="rl-error-text">Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>